# Ignore folders/repos in our vagrant environments
*/*/
html
npm-debug.log
.DS_Store

#Exceptions to the above folder rule, for organization in bootstrapping
!/vagrantBoxExtras/*
!/vagrantBox/bootstrap.sh
!/vagrantBox/Vagrantfile
